@font-face {
  font-family: Prompt-Regular;
  src: url(fonts/Prompt/Prompt-Regular.woff);
}

@font-face {
  font-family: Prompt-Bold;
  src: url(fonts/Prompt/Prompt-Bold.woff);
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

body {
  padding-top: 60px;
}

.button {
  color: #9fe2bf;
}

h1 {
  font-family: Prompt-Bold;
}
h2 {
  font-family: Prompt-Bold;
}
h3 {
  font-family: Prompt-Bold;
}
h4 {
  font-family: Prompt-Bold;
}
h5 {
  font-family: Prompt-Bold;
}
h6 {
  font-family: Prompt-Bold;
}

body {
  font-family: Prompt-Regular;
}

div {
  font-family: Prompt-Regular;
}

.carousel-item {
  height: 400px;
}

.carousel-image-1 {
  background-image: url("images/woocommerce-inventory-management.png");
  background-size: cover;
}

.carousel-image-2 {
  background-image: url("images/icon.png");
  background-size: cover;
}

.carousel-image-3 {
  background-image: url("images/it-inventory-management-software.png");
  background-size: cover;
}

.card-image-1 {
  background-image: url("images/pngeegg.png");
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.img-fluid {
  background-image: url("images/icon.png");
  background-size: cover;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

/* width */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #52be80;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #229954;
}

.nav-bg-color {
  background-color: #d0d3d4;
}

.container-login {
  padding-top: 50px;
}

#rcorners4 {
  border-radius: 15px;
  background: #7f807f00;
  padding: 20px;
  width: 200px;
  height: 150px;
}

shadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px 8px  blue;
  margin: 20px;
}